@import "tailwindcss";

@theme inline {
  --color-secondary-100: #f4f8fd;
  --color-secondary-200: #ced9e7;
  --color-secondary-400: #3b557c;
  --color-secondary-full: #1f2f56;
  --color-primary-full: #f18f24;
  
  --color-neutral-100: #fefffa;
  --color-neutral-1000: #333333;
  --color-inverse: #ffffff;
  --color-green-400: #00a256;
  --color-red-400: #d00416;

  --color-stroke-primary: #e9eaeb;

  --radius-m: 8px;
  --radius-l: 12px;
  --radius-xl: 12px;
  --radius-7: 16px;
  --radius-4: 8px;
  --radius-6: 12px;

  --spacing-xs: 8px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 16px;
  --spacing-5: 20px;
  --spacing-8: 40px;

  --font-inter: var(--font-inter);
  --font-vollkorn: var(--font-vollkorn);
  --font-source-sans: var(--font-source-sans);
}

body {
  font-family: var(--font-inter);
  background-color: var(--color-secondary-100);
  color: var(--color-neutral-1000);
}
